<div class="container border border-danger">
  <h1>Inside the Bootstrap container class</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis expedita perspiciatis quisquam eum qui
    mollitia eaque, magnam voluptates vel at aspernatur sunt, officia nam odit quia nulla molestiae laboriosam.</p>
</div>
<br>
<div class="container-fluid border border-danger">
  <h1>Inside the Bootstrap container-fluid class</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis expedita perspiciatis quisquam eum qui
    mollitia eaque, magnam voluptates vel at aspernatur sunt, officia nam odit quia nulla molestiae laboriosam.</p>
</div>