<!-- <div class="container border border-danger">
  <h1>Inside the Bootstrap container class</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis expedita perspiciatis quisquam eum qui
    mollitia eaque, magnam voluptates vel at aspernatur sunt, officia nam odit quia nulla molestiae laboriosam.</p>
</div>
<br>
<div class="container-fluid border border-danger">
  <h1>Inside the Bootstrap container-fluid class</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis expedita perspiciatis quisquam eum qui
    mollitia eaque, magnam voluptates vel at aspernatur sunt, officia nam odit quia nulla molestiae laboriosam.</p>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 border bg-light">Col-1</div>
    <div class="col-md-1 border bg-light">Col-2</div>
    <div class="col-md-1 border bg-light">Col-3</div>
    <div class="col-md-1 border bg-light">Col-4</div>
    <div class="col-md-1 border bg-light">Col-5</div>
    <div class="col-md-1 border bg-light">Col-6</div>
    <div class="col-md-1 border bg-light">Col-7</div>
    <div class="col-md-1 border bg-light">Col-8</div>
    <div class="col-md-1 border bg-light">Col-9</div>
    <div class="col-md-1 border bg-light">Col-10</div>
    <div class="col-md-1 border bg-light">Col-11</div>
    <div class="col-md-1 border bg-light">Col-12</div>
    <div class="col-md-1 border bg-light">Col-13</div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-1 border bg-light">Col-1</div>
    <div class="col-md-1 border bg-light">Col-2</div>
    <div class="col-md-1 border bg-light">Col-3</div>
    <div class="col-md-1 border bg-light">Col-4</div>
    <div class="col-md-1 border bg-light">Col-5</div>
    <div class="col-md-1 border bg-light">Col-6</div>
    <div class="col-md-1 border bg-light">Col-7</div>
    <div class="col-md-1 border bg-light">Col-8</div>
    <div class="col-md-1 border bg-light">Col-9</div>
    <div class="col-md-1 border bg-light">Col-10</div>
    <div class="col-md-1 border bg-light">Col-11</div>
    <div class="col-md-1 border bg-light">Col-12</div>
    <div class="col-md-1 border bg-light">Col-13</div>
  </div>
</div>
<br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 p-5 border bg-light">col-md-12</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 p-5 border bg-light">col-md-6</div>
    <div class="col-md-6 col-sm-6 p-5 border bg-light">col-md-6</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 p-5 border bg-light">col-md-2</div>
    <div class="col-md-8 col-sm-8 p-5 border bg-light">col-md-8</div>
    <div class="col-md-2 col-sm-2 p-5 border bg-light">col-md-2</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 p-5 border bg-light">col-md-2</div>
    <div class="col-md-4 col-sm-4 p-5 border bg-light">col-md-4</div>
    <div class="col-md-5 col-sm-5 p-5 border bg-light">col-md-5</div>
    <div class="col-md-1 col-sm-1 p-5 border bg-light">col-md-1</div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="display-1">Dispaly 1</div>
  <div class="display-2">Dispaly 2</div>
  <div class="display-3">Dispaly 3</div>
  <div class="display-4">Dispaly 4</div>

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quidem nihil adipisci odit sit. Rem recusandae
    ratione, culpa aperiam, dolorem repellendus officia debitis similique suscipit iste in tenetur aut cumque?</p>
  <p class="lead">Lorem <mark>ipsum</mark> dolor sit amet consectetur, adipisicing elit. Voluptatem quidem nihil
    adipisci odit sit.
    Rem recusandae ratione, culpa aperiam, dolorem repellendus officia debitis similique suscipit iste in tenetur aut
    cumque?</p>

  <h1>Heading 1 <small>Small Heading Tag</small></h1>
</div> -->

<!-- <div class="container mt-5">
  <p class="text-primary">Bootstrap primary text color</p>
  <p class="text-secondary">Bootstrap secondary text color</p>
  <p class="text-success">Bootstrap success text color</p>
  <p class="text-info">Bootstrap info text color</p>
  <p class="text-danger">Bootstrap danger text color</p>
  <p class="text-warning">Bootstrap warning text color</p>
  <p class="text-dark">Bootstrap dark text color</p>
  <p class="text-light">Bootstrap light text color</p>

  <div class="bg-primary p-5"></div>
  <div class="bg-secondary p-5"></div>
  <div class="bg-success p-5"></div>
  <div class="bg-info p-5"></div>
  <div class="bg-danger p-5"></div>
  <div class="bg-warning p-5"></div>
  <div class="bg-dark p-5"></div>
  <div class="bg-light p-5">light</div>
</div> -->

<!-- <div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>First name</th>
          <th>Second name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@doe.com</td>
        </tr>
        <tr>
          <td>Marry</td>
          <td>Moe</td>
          <td>marry@moe.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <img src="https://images.pexels.com/photos/13142739/pexels-photo-13142739.jpeg" class="img-fluid img-thumbnail" alt="">
</div> -->

<!-- <div class="container mt-5">
  <button class="btn">Default</button>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-info">Info</button>
  <button class="btn btn-danger">Danger</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-dark">Dark</button>
  <button class="btn btn-light">Light</button>
  <br>
  <br>
  <a href="#" class="btn btn-primary">Link button</a>
  <input type="submit" class="btn btn-primary" value="Submit button">
  <br>
  <br>
  <div class="d-grid">
    <button class="btn btn-primary">Full width button</button>
  </div>
  <br>
  <br>
  <button class="btn btn-primary btn-lg">Large</button>  
  <button class="btn btn-primary">Normal</button>
  <button class="btn btn-primary btn-sm">Small</button>
  <br>
  <br>
  <button class="btn btn-outline-primary">Primary outline</button>   
  <button class="btn btn-outline-secondary">Secondary outline</button>   
  <button class="btn btn-outline-success">Success outline</button>   
  <button class="btn btn-outline-info">Info outline</button>   
  <button class="btn btn-outline-danger">Danger outline</button>   
  <button class="btn btn-outline-warning">Warning outline</button>   
  <button class="btn btn-outline-dark">Dark outline</button>   
  <button class="btn btn-outline-light">Light outline</button>   
</div> -->

<!-- <div class="container mt-5">
  <div class="spinner-border text-primary"></div>
  <div class="spinner-border text-secondary"></div>
  <div class="spinner-border text-success"></div>
  <div class="spinner-border text-info"></div>
  <div class="spinner-border text-danger"></div>
  <div class="spinner-border text-warning"></div>
  <div class="spinner-border text-dark"></div>
  <div class="spinner-border text-light"></div>
  <br>
  <br>
  <div class="spinner-grow text-primary"></div>
  <div class="spinner-grow text-secondary"></div>
  <div class="spinner-grow text-success"></div>
  <div class="spinner-grow text-info"></div>
  <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-warning"></div>
  <div class="spinner-grow text-dark"></div>
  <div class="spinner-grow text-light"></div>
  <br>
  <br>
  <div class="spinner-border spinner-border-sm"></div>
  <div class="spinner-grow spinner-grow-sm"></div>
</div> -->

<!-- <div class="container mt-5">
  <div class="card text-white">
    <div class="card-header bg-primary">
      Card Header
    </div>
    <div class="card-body bg-info">
      Basic Card
    </div>
    <div class="card-footer bg-warning">
      Card Footer
    </div>
  </div>
  <br>
  <div class="card">
    <img src="https://images.pexels.com/photos/13142739/pexels-photo-13142739.jpeg" class="card-img-top" alt="">
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odio delectus at sequi! Et, ducimus
      asperiores harum quo tenetur incidunt reprehenderit, consequatur, vitae saepe voluptatem reiciendis aliquid
      aperiam voluptate quae.
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odio delectus at sequi! Et, ducimus
      asperiores harum quo tenetur incidunt reprehenderit, consequatur, vitae saepe voluptatem reiciendis aliquid
      aperiam voluptate quae.
    </div>
    <img src="https://images.pexels.com/photos/13142739/pexels-photo-13142739.jpeg" class="card-img-bottom" alt="">
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      Clickable Card
      <a href="#" class="btn btn-primary stretched-link">See more..</a>
    </div>
  </div>
  <br>
  <div class="d-inline-flex row-cols-4">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda numquam, nam unde excepturi voluptatem
          quisquam enim necessitatibus illo nemo, cupiditate libero hic? Earum incidunt ab vero excepturi voluptatem
          repudiandae quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit quisquam
          labore. Omnis quia labore quos ipsam nesciunt, ipsa repellendus nobis ea perferendis autem suscipit nostrum
          exercitationem, dolorum recusandae? Modi.</p>
      </div>
    </div>
    <div class="card bg-danger text-white">
      <div class="card-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda numquam, nam unde excepturi voluptatem
          quisquam enim necessitatibus illo nemo, cupiditate libero hic? Earum incidunt ab vero excepturi voluptatem
          repudiandae quibusdam!</p>
      </div>
    </div>
    <div class="card bg-success text-white">
      <div class="card-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda numquam, nam unde excepturi voluptatem
          quisquam enim necessitatibus illo nemo, cupiditate libero hic? Earum incidunt ab vero excepturi voluptatem
          repudiandae quibusdam!</p>
      </div>
    </div>
    <div class="card bg-info text-white">
      <div class="card-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda numquam, nam unde excepturi voluptatem
          quisquam enim necessitatibus illo nemo, cupiditate libero hic? Earum incidunt ab vero excepturi voluptatem
          repudiandae quibusdam!</p>
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-3">
  <form action="#">
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control">
    </div>

    <div class="form-group">
      <label for="" class="form-check-label">
        <input type="checkbox" class="form-check-input">Remember me
      </label>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>