<!-- <div class="container border border-danger">
  <h1>Inside the Bootstrap container class</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis expedita perspiciatis quisquam eum qui
    mollitia eaque, magnam voluptates vel at aspernatur sunt, officia nam odit quia nulla molestiae laboriosam.</p>
</div>
<br>
<div class="container-fluid border border-danger">
  <h1>Inside the Bootstrap container-fluid class</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis expedita perspiciatis quisquam eum qui
    mollitia eaque, magnam voluptates vel at aspernatur sunt, officia nam odit quia nulla molestiae laboriosam.</p>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 border bg-light">Col-1</div>
    <div class="col-md-1 border bg-light">Col-2</div>
    <div class="col-md-1 border bg-light">Col-3</div>
    <div class="col-md-1 border bg-light">Col-4</div>
    <div class="col-md-1 border bg-light">Col-5</div>
    <div class="col-md-1 border bg-light">Col-6</div>
    <div class="col-md-1 border bg-light">Col-7</div>
    <div class="col-md-1 border bg-light">Col-8</div>
    <div class="col-md-1 border bg-light">Col-9</div>
    <div class="col-md-1 border bg-light">Col-10</div>
    <div class="col-md-1 border bg-light">Col-11</div>
    <div class="col-md-1 border bg-light">Col-12</div>
    <div class="col-md-1 border bg-light">Col-13</div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-1 border bg-light">Col-1</div>
    <div class="col-md-1 border bg-light">Col-2</div>
    <div class="col-md-1 border bg-light">Col-3</div>
    <div class="col-md-1 border bg-light">Col-4</div>
    <div class="col-md-1 border bg-light">Col-5</div>
    <div class="col-md-1 border bg-light">Col-6</div>
    <div class="col-md-1 border bg-light">Col-7</div>
    <div class="col-md-1 border bg-light">Col-8</div>
    <div class="col-md-1 border bg-light">Col-9</div>
    <div class="col-md-1 border bg-light">Col-10</div>
    <div class="col-md-1 border bg-light">Col-11</div>
    <div class="col-md-1 border bg-light">Col-12</div>
    <div class="col-md-1 border bg-light">Col-13</div>
  </div>
</div>
<br>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 p-5 border bg-light">col-md-12</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 p-5 border bg-light">col-md-6</div>
    <div class="col-md-6 col-sm-6 p-5 border bg-light">col-md-6</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 p-5 border bg-light">col-md-2</div>
    <div class="col-md-8 col-sm-8 p-5 border bg-light">col-md-8</div>
    <div class="col-md-2 col-sm-2 p-5 border bg-light">col-md-2</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 p-5 border bg-light">col-md-2</div>
    <div class="col-md-4 col-sm-4 p-5 border bg-light">col-md-4</div>
    <div class="col-md-5 col-sm-5 p-5 border bg-light">col-md-5</div>
    <div class="col-md-1 col-sm-1 p-5 border bg-light">col-md-1</div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="display-1">Dispaly 1</div>
  <div class="display-2">Dispaly 2</div>
  <div class="display-3">Dispaly 3</div>
  <div class="display-4">Dispaly 4</div>

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem quidem nihil adipisci odit sit. Rem recusandae
    ratione, culpa aperiam, dolorem repellendus officia debitis similique suscipit iste in tenetur aut cumque?</p>
  <p class="lead">Lorem <mark>ipsum</mark> dolor sit amet consectetur, adipisicing elit. Voluptatem quidem nihil
    adipisci odit sit.
    Rem recusandae ratione, culpa aperiam, dolorem repellendus officia debitis similique suscipit iste in tenetur aut
    cumque?</p>

  <h1>Heading 1 <small>Small Heading Tag</small></h1>
</div> -->

<div class="container mt-5">
  <p class="text-primary">Bootstrap primary text color</p>
  <p class="text-secondary">Bootstrap secondary text color</p>
  <p class="text-success">Bootstrap success text color</p>
  <p class="text-info">Bootstrap info text color</p>
  <p class="text-danger">Bootstrap danger text color</p>
  <p class="text-warning">Bootstrap warning text color</p>
  <p class="text-dark">Bootstrap dark text color</p>
  <p class="text-light">Bootstrap light text color</p>

  <div class="bg-primary p-5"></div>
  <div class="bg-secondary p-5"></div>
  <div class="bg-success p-5"></div>
  <div class="bg-info p-5"></div>
  <div class="bg-danger p-5"></div>
  <div class="bg-warning p-5"></div>
  <div class="bg-dark p-5"></div>
  <div class="bg-light p-5">light</div>
</div>